.app {
  text-align: center;
  height: 725px;
  background-image: linear-gradient( darkorange, orange); /* Standard syntax (must be last) */
  display: flex;
  flex-direction: column;
}

.app-header {
  font-weight: 500;
  font-size: 80px;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
}
